#radio{
	width: 700px;
	height: 400px;
}

#radio #coal{
	position: absolute;
    display:block;
    margin-top: 140px;
    width:160px;
    height:160px;
}
#radio #coal:hover{
	cursor:pointer;
	width:165px;
	height:165px;
}

#radio #factory{
	position: absolute;
    display:block;

    margin-top:140px;
    margin-left: 200px;
    width:160px;
    height:160px;
}
#radio #factory:hover{
	cursor:pointer;
	width:165px;
	height:165px;
}

#radio #can{
	position: absolute;
    display:block;

    margin-top: 145px;
    margin-left: 390px;
    
    width:160px;
    height:160px;
}
#radio #can:hover{
	cursor:pointer;
	width:165px;
	height:165px;
}

#radio #gco2{
	position: absolute;
	display: block;

	margin-top: -20px;
    margin-left: 200px;
	width: 140px;
	height: 140px;
}
#radio #gco2:hover{
	cursor:pointer;
	width:145px;
	height:145px;
}

#radio #factory{
	position: absolute;
    display:block;

    margin-top: 140px;
    margin-left: 200px;
    width:160px;
    height:160px;
}
#radio #factory:hover{
	cursor:pointer;
	width:165px;
	height:165px;
}

#radio #hot{
	position: absolute;
    display:block;

    margin-top: 300px;
	margin-left: 120px;
    width:140px;
    height:140px;
}
#radio #hot:hover{
	cursor:pointer;
	width:145px;
	height:145px;
}

#radio #radio1{
	position: absolute;
    display:block;

    margin-top: 300px;
	margin-left: 300px;
	width: 140px;
	height: 140px;
}
#radio #radio1:hover{
	cursor:pointer;
	width:145px;
	height:145px;
}
#radio #retired{
	position: absolute;
    display:block;

    margin-top: 140px;
    margin-left: 600px;
    width:160px;
    height:160px;
}
#radio #retired:hover{
	cursor:pointer;
	width:165px;
	height:165px;
}