#radio{
	width: 90%;
	height: 500px;
}

#radio #coal{
	position: absolute;
    display:block;

    width:200px;
    height:200px;
}

#radio #can{
	position: absolute;
    display:block;

    margin-left: 250px;
    width:200px;
    height:200px;
}

#radio #gco2{
	position: absolute;
	display: block;

	margin-left: 250px;
	margin-top: 250px;
	width: 200px;
	height: 200px;
}
#radio #factory{
	position: absolute;
    display:block;

    margin-left: 500px;
    width:200px;
    height:200px;
}

#radio #coal:hover{
	cursor:pointer;
	width:210px;
	height:210px;
}

#radio #can:hover{
	cursor:pointer;
	width:210px;
	height:210px;
}
#radio #factory:hover{
	cursor:pointer;
	width:210px;
	height:210px;
}
#radio #gco2:hover{
	cursor:pointer;
	width:210px;
	height:210px;
}

